* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 20rem;
    z-index: -10;
}

.circle1 {
    top: 8%;
    right: 15%;
}

.circle2 {
    left: 11%;
    bottom: 5%;
}
/* 导航样式 */
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    margin-top: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li .a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li .a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(65, 142, 245, 0.60);
    color: white;
    cursor: pointer;
    z-index: 3;
}
/* content内容样式 */
.content {
    width: 1000px;
    height: 1200px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 100px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
}

.content .top {
    height: 250px;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.content .top::after {
    content: "";
    background-image: url(/Images/userInfoBkImg.jpg);
    background-size: 1000px 250px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.content .top .user_wrapper {
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 12px 0 0 0;
}

.content .top .user_wrapper .user_img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.content .top .user_wrapper .user_uname {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #426696;
    opacity: 0.8;
}

.content .bottom {
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    opacity: 1;
    border-radius: 0 0 20px 20px;
    height: 950px;

    display: flex;
    justify-content: center;
    align-items: center;
}
