* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    /*background: linear-gradient(rgb(187, 210, 197), rgb(83, 105, 118));*/
}